<div class="container-fluid historia mt-5 der2izq">


<h3 class="titulo-historia mt-5 izq2der">Nuestra historia</h3>
<p class="ml-2 mr-2 mt-5 parrafo-historia  aba2arr" >
Hace seis años, un grupo de abogados con una visión clara y un profundo compromiso por la justicia y el servicio a la comunidad decidieron unir fuerzas para fundar un estudio jurídico. Con el objetivo de asesorar a personas y empresas en la resolución de sus problemas legales, este equipo de profesionales se ha destacado por su dedicación y ética en cada caso que han tomado. <br>


Desde sus inicios, este estudio de abogados se ha preocupado por comprender las necesidades específicas de cada cliente, brindando asesoramiento personalizado y soluciones adaptadas a cada situación. A lo largo de los años, han logrado construir una sólida reputación basada en la calidad de su trabajo, la confianza generada entre sus clientes y la eficacia demostrada en la resolución de conflictos legales. <br>

Con un enfoque en la excelencia y la integridad, este estudio jurídico ha logrado ganarse la confianza de personas y empresas que buscan respuestas claras y efectivas para sus problemas legales. Su compromiso con la justicia y el bienestar de sus clientes ha sido la piedra angular de su éxito a lo largo de estos seis años de trayectoria, consolidándose como un referente en el asesoramiento legal en la comunidad. <br>

Trabajar hace años con profundo compromiso por la justicia y el servicio a la comunidad nos permitiron reunir solidos conocimientos juridicos, solvencia y experiencia para refundar un estudio jurídico especializado en asesoramiento legal, financiero y contable para empresas. Desde sus inicios, este equipo de profesionales se ha destacado por su dedicación y ética en cada caso que han tomado, brindando soluciones integrales a las necesidades jurídicas, financieras y contables de sus clientes corporativos. <br>

Con un enfoque en la excelencia y la integridad, este estudio jurídico ha logrado ganarse la confianza de empresas que buscan respuestas claras y efectivas para sus problemas legales, financieros y contables. Su compromiso con la justicia y el bienestar de sus clientes ha sido la piedra angular de su éxito a lo largo de estos seis años de trayectoria, consolidándose como un referente en el asesoramiento legal, financiero y contable en la comunidad empresarial. 
</p>



<h3 class="titulo-historia mt-5">Valores y principios</h3>
<p class="ml-2 mr-2 mt-5  parrafo-historia" >
Nuestra misión es ser un bufete de abogados destacado por su excelencia en el apoyo legal y la profesionalidad de sus miembros, procurando seguridad y confianza a través de soluciones completas y adaptadas a las necesidades individuales de cada cliente, con el compromiso de lograr el éxito en sus asuntos legales. Además, buscamos alcanzar el desarrollo personal y profesional de los integrantes del Estudio, manteniendo los más altos estándares éticos y de excelencia. <br><br>

Nuestra visión es ser un referente en el mercado legal argentino, consolidando nuestro crecimiento con experiencia y eficiencia profesional, ofreciendo un servicio integral de calidad en asesoramiento legal y consultoría, reconocido por nuestros valores y eficacia probada. <br> <br>

</p>

<h3 class="titulo-historia mt-5">Principios fundamentales</h3>

<p class="ml-2 mr-2 parrafo-historia" >

 Ética <br>
Compromiso <br>
Calidad <br>
Confidencialidad <br> <br>

</p>

    <h3 class="titulo-historia ">El equipo</h3>

     <div class="container presentacion-container mt-5">
        <div class="row ">
            <div class="d-flex flex-row flex-wrap justify-content-between mb-4 ">
                <div class="presentacion">
                    <div class="img">
                        <img src="/images/foto.jpg" alt="imagen">
                    </div>
                    <div class="producto-info">
                        <div class="producto-texto">
                            <h1>Daniel Duda</h1>
                            <h2>Desarrollador web</h2>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                        <div class="precio-btn">
                            <a href="#">Contactar</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Duplica este bloque para más tarjetas -->
            <div class="d-flex flex-row flex-wrap justify-content-between mb-4 ">
                <div class="presentacion ">
                    <div class="img">
                        <img src="/images/foto.jpg" alt="imagen">
                    </div>
                    <div class="producto-info">
                        <div class="producto-texto">
                            <h1>Nombre Ejemplo</h1>
                            <h2>Cargo Ejemplo</h2>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                        <div class="precio-btn">
                            <a href="#">Contactar</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Añade más tarjetas aquí -->
               <div class="d-flex flex-row flex-wrap justify-content-between mb-4 ">
                <div class="presentacion ">
                    <div class="img">
                        <img src="/images/foto.jpg" alt="imagen">
                    </div>
                    <div class="producto-info">
                        <div class="producto-texto">
                            <h1>Nombre Ejemplo</h1>
                            <h2>Cargo Ejemplo</h2>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                        <div class="precio-btn">
                            <a href="#">Contactar</a>
                        </div>
                    </div>
                </div>
            </div>
               <div class="d-flex flex-row flex-wrap justify-content-between mb-4 ">
                <div class="presentacion ">
                    <div class="img">
                        <img src="/images/foto.jpg" alt="imagen">
                    </div>
                    <div class="producto-info">
                        <div class="producto-texto">
                            <h1>Nombre Ejemplo</h1>
                            <h2>Cargo Ejemplo</h2>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                        <div class="precio-btn">
                            <a href="#">Contactar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<br> <br>

</div>


